.box1 {
    height: 200px;
    background-color: aqua;
}

.box2 {
    height: 200px;
    background-color: salmon;
}

.box3 {
    height: 200px;
    background-color: paleturquoise;
}

.box4 {
    background-color: brown;
    height: 200px;
}

.box5 {
    background-color: coral;
    height: 200px;
}

.box6 {
    background-color: darkgoldenrod;
    height: 200px;
}

.box7 {
    background-color: deeppink;
    height: 200px;
}

.box8 {
    background-color: teal;
    height: 200px;
}

.box9 {
    background-color: gray;
    height: 200px;
}

.box10 {
    background-color: gold;
    height: 200px;
}

.box11 {
    background-color: navy;
    height: 200px;
}
  
.box12 {
    background-color: saddlebrown;
    height: 200px;
}